{% extends 'base.html' %}
{% load thumbnail %}

{% block slogan %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span9">
            <div>
                <div>
                    <div>
                        <div class="sport_date">{{ post.date }}</div>
                        {% thumbnail post.image "250x150" crop="center" as im %}
                            <img class="_category-img" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="Иллюстрация" align="left" vspace="5" hspace="5">
                        {% endthumbnail %}
                        <span>{{ post.name }}</span>
                        <div>{{ post.text|removetags:"img" }}</div>
                    </div>
                </div>
            </div>
        </div>
    {% block sidebar_menu %}
        <div class="span3">
        </div>
    {% endblock %}
    </div>
{% endblock %}