{% extends 'base.html' %}
{% load thumbnail %}
{% load staticfiles %}

{% block meta %}
    <title>Создание сайтов | портфолио</title>
    <meta name="description" content="" >
    <meta name ="keywords" content="">
{% endblock %}

{% block review_slider %}
{% endblock %}

{% block img_first %}
{% endblock %}

{% block first_content %}
{% endblock %}

{% block bottom_content %}
    <div class="bottom_content port_det">
        <div id="portfolio_detail" class="container portfolio_detail">
            <div class="loading">
                <img src="{% static 'theme/img/495.gif' %}" alt=""/>
            </div>
            <div class="row">
                <div class="text">
                    <h2>{{ portfolio.name }}</h2>
                    <p>{{ portfolio.text|removetags:"img"|safe }}</p>
                </div>
{#                <div class="span11">#}
                    <div class="portfolio_slider">
                        {% include 'slider.html' %}
                    </div>
{#                </div>#}
                <div class="center_div">
                    <a href="#myModal2" class="link blue" data-toggle="modal">Заказать Сайт</a>
                </div>
            {% block sidebar_menu %}
                <div class="span3">
                </div>
            {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block second_content %}
    <div class="middle_content">
        <div class="container">
            <div class="row">
                <!--верхняя часть синий области контактов-->
                <div class="span12 contact_top">
                    <div class="row">
                        <div class="span12">
                            <h2>Наши работы</h2>
                        </div>
                        <div class="span12">
                            <div class="row">
                                <div class="span12">
                                    <div class="row">
                                        <div class="span4">
                                        </div>
                                    </div>
                                </div>
                                {% for folio in portfolios %}
                                    <div class="span4 folio_item">
                                        <a href="/portfolio/{{ folio.slug }}"><img src="/media/{{ folio.image }}" alt=""/></a>
                                        <h6>{{ folio.company }}</h6>
                                        <p>{{ folio.text|removetags:"img"|truncatewords:"30"|safe }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block img_second %}
{% endblock %}

{% block portfolio %}
{% endblock %}