@font-face {
	font-family:"eurofurence light";
	src:url("../eurofurence_light_regular.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:"eurofurence regular";
	src:url("../eurofurence_regular.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}

body {
    background:#999;
}

.background {
    position: absolute;
    left: 10px;
    top: 0px;
    z-index: -1;
}

.navbar .navbar-inner.my_navbar_inner {
    background: #fff;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow:none;
}

.navbar .nav.my_nav li a {
    border-radius: 2px;
    color: #535353;
    margin-left: 4px;
}

.navbar .nav.my_nav li a:hover {
    background: #5c5c5c;
    color: #fff;
}

.navbar .nav.my_nav li a:active,
.navbar .nav.my_nav li a.active {
    background: #3b3b3b;
    color: #fff;
}

.my_brand {
    /*height: 350px;*/
    /*width: 350px;*/
}
.my_brand img {
    margin-top: 70px;
    margin-bottom: 40px;
}

.my_brand a {
    color: #202020;
    font-family: 'eurofurence light';
    font-size: 40px;
    text-shadow: none;
}

.my_brand a:hover {
    color: #464646;
    text-decoration: none;
}

.my_navbar_inner ul.my_nav li a {
    color: #232323;
    text-shadow: none;
}

.my_navbar_inner ul.my_nav li a:hover {
    color: #2f2f2f;
}

.navbar-inner.my_navbar_inner {
    padding: 0;
}

ul.nav.my_nav {
}

.navbar .nav.my_nav {
    margin-top: 40px;
    margin-right: 0;
    float: right;
}

.main_menu {
    overflow: hidden;
}

.page-header.my_header {
    margin: 64px 0 30px;
}

.my_navbar_inner .container {
    margin-top: 10px;
}

/*middle_content*/
.middle_content {
    background: #fff;
    padding: 60px;
}

.middle_title {
    color: #fff;
    font-weight: bold;
}

.middle_text {
    color: #83adff;
}

.top_analitic {
    background: url("../img/block_bg.gif");
    padding: 20px 0;
}

.top_analitic h5 {
    color: #fff;
}

.top_analitic p {
    color: #fff;
    padding:0 5px;
}

.rights {
    color: #fff;
    padding-top:20px;
}

.forward a {
    color: #fff;
    font-family: 'eurofurence light';
    font-size: 20px;
}

.forward a:hover {
    color: #b3b3b3;
    text-decoration: none;
}

/* new style football */
._news_all_element {
    padding: 10px 0;
    margin: 10px 0;
}

a._news_all_link {
    float: right;
    padding: 10px;
    background: #333333;
    color: #eeeeee;
    font-family: 'eurofurence light';
    font-size: 20px;
}

a._news_all_link:hover {
    color: #b3b3b3;
    text-decoration: none;
}

.footer {
    background: #3b3b3b;
    min-height: 42px;
    padding-top: 25px;
    margin-top:-2px;
}

.footer p, .footer a {
    color: #fff;
    padding: 5px;
}

.header {
    background: #365eab;
    padding: 30px 30px 90px 30px;
}

.block_about {
    margin-top: 20px;
}

a.my_btn {
    background: url("../img/button_big.jpg") no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    padding:12px 10px;
    color: #F1F1F1;
    text-transform: uppercase;
    border: 1px solid #767676;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    font-size: 14px;
    font-family: 'eurofurence light';
    font-size: 20px;
}

a.my_btn:hover {
    background: url("../img/button_big.jpg") no-repeat;
    -moz-background-size: 160%; /* Firefox 3.6+ */
    -webkit-background-size: 160%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 160%; /* Opera 9.6+ */
    background-size: 160%; /* Современные браузеры */
    text-decoration: none;
    color: #fff;
    border: 1px solid #9F9F9F;
}

#calendar {
    margin-bottom: 20px;
}

#slogan {
    background: #E7E7E7;
    padding: 12px 0;
    border-bottom: 1px solid #D7D7D7;
    border-top: 1px solid #D7D7D7;
}

.register_button {
    margin-top: 7px!important;
}

.slogan_text p {
    text-transform: uppercase;
    font-family: 'eurofurence light';
    font-size: 30px;
    color: #606060;
    text-align: right;
    margin-top: 10px;
    float: left;
    margin-right: 10px;
}

.login {
    text-align: right;
}

.baner img {
    border-bottom: 1px solid #B6B6B6;
    border-right: 1px solid #B6B6B6;
    border-left: 1px solid #B6B6B6;
}

.slogan_img img {
    position: absolute;
    margin-top: -34px;
    width: 270px;
    border-top: 1px solid #B6B6B6;
    border-right: 1px solid #B6B6B6;
    border-left: 1px solid #B6B6B6;
}

.slogan_inner {
    float: right;
}

.header h2,
.bottom_content h2 {
    color: #fff;
    font-family: 'eurofurence light';
    font-size: 40px;
}

.header_title h2 {
    margin-bottom: 60px;
    margin-top: 40px;
}

.post_in_blue .span3 {
    /*margin-left: 10px;*/
}

.resp_list li {
    list-style: none;
}

.header h4,
.bottom_content h4{
    color: #fff;
    font-family: 'eurofurence light';
    font-size: 20px;
    /*margin-left: 20px;*/
}

.resp_list p{
    color: #83adff;
    /*margin-left: 20px;*/
}
.resp_list i {
    margin-right: 10px;
}

.top_text h1 {
    font-family: 'eurofurence light';
    font-weight: normal;
}

.top_text {
    margin-top: 30px;
    /*margin-bottom: 60px;*/
}

.phone {
    margin-top: 70px;
    margin-right: 15px;
    text-align: right;
    float: right;
    padding:20px 20px;
    font-size: 25px;
    font-weight: normal;
    color: #363636;
    border: 1px solid #C2C2C2;
}

.phone span {
    font-size: 17px;
}

.phone p {
    margin-bottom: 2px;
}

.adress {
    font-size: 15px;
    color: #505050;
}

.phone_wrapper {
    overflow: hidden;
}

.apps h4 {
    font-family: 'eurofurence light';
    font-size: 40px;
    margin-bottom: 60px;
}

.apps h5 {
    font-family: 'eurofurence light';
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.app_image img {
    float: right;
}

.apps_text img {
    margin-top: 20px;
}

.apps_text p {
    color: #848484;
}

/*review_slider*/
.top_text .item {
    min-height: 200px;
}
.top_text .carousel-control {
    top: -15%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 35px;
    height: 35px;
    line-height: 25px;
}
.top_text .carousel-control.right {
    right: 0px;
    left: auto;
}
.top_text .carousel-control.left {
    right: 50px;
    left: auto;
}
p.review {
    border: 1px solid #3d3d3d;
}
.main_review {
    position: absolute;
    width: 100%;
}
.main_review .popover {
    display: block;
    max-width: 100%;
    left: 112px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0px;
}
.main_review .popover-title {
    border-bottom: 0px;
}
.slider_review {
    /*margin-top: 60px;*/
}
.my_title {
    margin-top: 60px;
}

/*bottom_content*/
.bottom_content {
    background: #3b3b3b;
    padding: 60px;
}
.bottom_content p {
    color: #8C8C8C;
}

/*portfolio*/
.portfolio {
    padding: 60px;
}
.portfolio h4 {
    font-family: 'eurofurence light';
    font-size: 40px;
    margin-bottom: 60px;
}
.portfolio a {
    background: #5c5c5c;
    border-radius: 2px;
    color: #fff;
    margin-left: 4px;
    text-decoration: none;
    padding: 10px 15px 10px;
    float: right;
}
.portfolio a:hover {
    background: #3b3b3b;
    color: #fff;
    text-decoration: none;
}
.portfolio h5 {
    font-family: 'eurofurence light';
    font-size: 30px;
}
.portfolio h6 {
    font-family: 'eurofurence light';
    font-size: 25px;
    margin: 30px 0;
}
.portfolio p {
    color: #797979;
}