/***** шрифты *****/

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic);

/***** общие настройки *****/

@media (max-width: 767px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
  }
}
body {
    padding: 0px;
}

a.no_decor {
    text-decoration: none;
}

a.no_decor:hover {
    text-decoration: none;
}

/***** главная страница *****/

/* блок top */

.top,
.top .span8 {
 min-height: 100px;
}

.top .css_logo {
    float: left;
    margin-top: 22px;
    min-width: 250px;
    min-height: 54px;
}

/* мини меню */

.top .css-mini-menu {
    top: 0px;
    height: 30px;
    padding-top: 15px;
}

.top .css-mini-menu-ul {
    float: right;
}

.top .css-mini-menu-ul li {
    float: right;
}

.css-mini-menu li {
    list-style-type: none;
    white-space: nowrap;
}

.css-mini-menu li.devider {
    padding-left: 10px;
    padding-right: 10px;
    font-family: Tahoma;
    font-size: 10px;
    font-weight: bold;
    color: #808080;
}

.top .css-mini-menu-ul li div {
    margin: 0px;
    width: 16px;
    height: 16px;
    padding-right: 6px;
    background-size: 15px 15px;
    background-position: 0px 0px;
}

div.icon-mini-review {
    background-image: url(../img/css/icon-menu/icon-menu-review-gray.png);
}

.top .css-mini-menu-ul li:hover div.icon-mini-review {
    background-image: url(../img/css/icon-menu/icon-menu-review.png);
}

div.icon-mini-call {
    background-image: url(../img/css/icon-menu/icon-menu-call-gray.png);
}

.top .css-mini-menu-ul li:hover div.icon-mini-call {
    background-image: url(../img/css/icon-menu/icon-menu-call.png);
}

div.icon-mini-phone {
    background-image: url(../img/css/icon-menu/icon-menu-phone-gray.png);
}

.top .css-mini-menu-ul li:hover div.icon-mini-phone {
    background-image: url(../img/css/icon-menu/icon-menu-phone.png);
}

.css-mini-menu li a {
    color: #D5D5D5;
}

.css-mini-menu li:hover a {
    color: #687074;
}

/* главное  меню */

.top .span8 .navbar {
    margin-bottom: 0px;
    margin-top: 15px;
    float: right;
}

.top .navbar .navbar-inner {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow:none;
    border: none;
    padding-right: 0px;
}

.top ul.nav {
    float: right;
    margin-right: 0px;
}

.top .navbar a {
    color: #555;
    font-size: 16px;
}

.top .navbar .nav li a.css_last {
    padding-right: 0px;
}

.top .navbar .nav li a {
    font-weight: normal;
}

.top .navbar .nav li a:hover {
    color: #72c02c;
    background: none;
}


/* блок с видео */

.header.home {
    background-image: url(../img/css/backgr_blocks/first_content1.png);
    background-size: 300px;
    padding-bottom: 40px;
    box-shadow: 0 0 10px rgba(76, 167, 63, 1);
    -webkit-box-shadow: 0 0 10px rgba(76, 167, 63, 1);
    -moz-box-shadow: 0 0 10px rgba(76, 167, 63, 1);
}

.header.home .header_title h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
    text-align: center;
    margin-top: 10px;
    font-size: 35px;
    color: #fff;
}

.header.home h4.css_text {
    line-height: 1.5em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
    color: #fff;
}

.css_vidio {
    width: 500px;
    height: 300px;
    background-color: #000;
}

.css_form_consultation form {
    margin: 0 auto;
    text-align: center;
}

.css_form_consultation form {
    width: 350px;
    border: 1px solid #37A714;;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
}

.css_form_consultation form p {
    color: #fff;
    padding-top: 20px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.5em;
}

.css_form_consultation form input {
    width: 250px;
    margin-bottom: 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.form_consultation_submit {
    padding: 4px 6px;
    background: none;
    border-color: rgb(51, 255, 0);
    color: #fff;
    font-size: 16px;
    outline: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-color: rgba(64, 207, 28, 0.5)
}

/* блок css_benvenuto */

.css_benvenuto {
    background-color: rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
}

.css_benvenuto .benvenuto-img {
    text-align: center;
}

.css_benvenuto .benvenuto-img img {
    max-height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 7px solid #C4C4C4;
}

.css_benvenuto .benvenuto-title {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.css_benvenuto .benvenuto-text {
    margin-bottom: 30px;
}

/* блок advantage */

#advantage h4 {
    text-align: center;
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 60px;
    font-weight: normal;
    text-transform: uppercase;
}

#advantage .span4 {
    padding-bottom: 50px;
}

#advantage .advantage-icon {
    width: 100px;
    height: 100%;
    float: left;
}

#advantage .advantage-icon i {
    font-size: 80px;
    margin-top: 0px;
    color: #72c02c;
}

#advantage .advantage-content {
    margin-left: 110px;
}

#advantage .advantage-title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
}

/* блок why */

#why {
    background-color: rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
}

#why h4,
#route h4 {
    text-align: center;
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-weight: normal;
}

#why .span6{
    margin-bottom: 60px;
}


/* блок route */

#route {
    padding-bottom: 60px;
    background-image: url(../img/css/backgr_blocks/route.png);
    background-size: 300px;
}

#route .route-1,
#route .route-2,
#route .route-3 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
    border: 1px solid rgba(215, 250, 183, 0.54);
    background-color: #EEFFED;
}

#route .route-1 {
    margin-top: 40px;
    width: 80%;
    float: right;
}

#route .route-2 {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
}

#route .route-3 {
    margin-top: 40px;
    width: 80%;
    float: left;
}

#route h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 0px;
     padding-left: 10%;
    padding-right: 10%;
}

#route .route-2 h3 {
    margin-bottom: 20px;
}

#route .route-img {
    text-align: center;
}

#route .route-img img {
    width: 80%;
}

#route .route-text {
    text-align: justify;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

#route .route-2 .route-text {
    text-align: justify;
    padding-top: 40px;
}

#route .route-button {
    margin-top: 20px;
    text-align: center;
    background-color: #72c02c;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

#route .route-2 .route-button {
    margin-top: 40px;
}

#route .route_bottom {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
    border: 1px solid rgba(215, 250, 183, 0.54);
    width: 88%;
    margin: 0 auto;
    background-color: #EEFFED;
}

#route .route_bottom_text {
    padding-top: 20px;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

#route .route_bottom_button {
    text-align: center;
    padding-bottom: 30px;
}

#route .route_bottom_button a {
    padding: 5px 50px;
    background-color: #72c02c;
    text-decoration: none;
    color: #fff;
}

/* подвал */

#footer {
    background: none;
    background-color: rgba(9, 39, 0, 0.67);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    padding-bottom: 40px;
    padding-top: 40px;
}

#footer .css_footer-title {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    color: #fff;
}

#footer .css_footer-text {
    color: #fff;
}

#footer form {
    border: 1px solid #565A54;
}

#footer form .form_consultation_submit {
    border-color: rgba(144, 148, 143, 0.5);
}