{% load staticfiles %}
{% load flatblock_tags %}
{% load thumbnail %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% block meta %}
            <title>Создание сайтов</title>
            <meta name="description" content="Forward - Создание высококачественных сайтов в Томске, Новосибирске, Москве, продвижение сайтов, поисковая сео оптимизация, качественное продвижение сайта в топ." >
            <meta name ="keywords" content="Создание сайтов, продвижение сайтов">
        {% endblock %}
        <link href="{% static 'theme/css/global.css' %}" rel="stylesheet">
        <link href="{% static 'libraries/calendar/fullcalendar.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet">

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script type="text/javascript" src="{% static 'libraries/jquery-2.0.3.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>

        {% block chart %}
        {% endblock %}
        <script type="text/javascript" src="{% static 'libraries/calendar/jquery-ui.custom.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'libraries/calendar/fullcalendar.js' %}"></script>
        <link rel="stylesheet" href="{% static 'libraries/fancybox/source/jquery.fancybox.css' %}" type="text/css" media="screen" />
        <script type="text/javascript" src="{% static 'libraries/fancybox/source/jquery.fancybox.pack.js' %}"></script>
        <script type="text/javascript" src="{% static 'libraries/scripts.js' %}"></script>

        {% block calendar_js %}
        {% endblock %}
    </head>
    <body>

        {% block top %}
            <div class="container">
                <div class="row">
                    <div class="span5">
                        <div class="background"><img src="{% static 'theme/img/background.png' %}" alt=""/></div>
                        <div class="brand my_brand"><a href="/"><img src="{% static 'theme/img/logo.jpg' %}" width="300" alt=""/></a></div>
                    </div>
                    <div class="span7">
                        <div class="phone_wrapper">
                            <div class="phone">
                                <p><span>тел.(3822)</span> 94-20-19</p>
                                <p class="adress">г.Томск ул.Кирова 58 стр.55 оф.61</p>
                            </div>
                        </div>
                        <div class="navbar navbar-inverse navbar-static">
                            <div class="navbar-inner my_navbar_inner">
                                <div class="container">
                                    <div class="main_menu">
                                        <ul class="nav my_nav">
                                            <li><a href="/">Главная</a></li>
                                            <li><a href="/sozdanie-saitov">Создание сайтов</a></li>
                                            <li><a href="/mobilnie-prilojeniya">Мобильные приложения</a></li>
                                            <li><a href="/blog/">Статьи</a></li>
                                            <li><a href="/blog/third/">Контакты</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span7 top_text">
                        <div class="content">
                            <h1><strong>FORWARD</strong> - сайт будет продавать</h1>
                            <div class="head-info">Magna in pulvinar tempor montes pulvinar habitasse parturient? Elementum facilisis sit et, dolor placerat, turpis auctor.
                            <p>Lundium ultricies augue urna arcu aliquet velit?</p>
                            </div>
                            {% block review_main %}
                                {% for review in reviews %}
                                    {% if review.review_in_main %}
                                        <h1>{{ review.name }}</h1>
{#                                        <h2>{{ review.company }}</h2>#}
                                        {{ review.text|removetags:"img"|truncatewords:"20"|safe }}
                                    {% endif %}
                                {% endfor %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <!-- header -->
        {% block first_content %}
            <div class="header">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <div class="header_title">
                                <h2>Forward - сайты которые приносят доход</h2>
                            </div>
                        </div>
                        <div class="span12 post_in_blue">
                            <div class="row">
                                {% for post in posts %}
                                    {% if post.post_in_blue %}
                                        <div class="span4">
                                            <div class="row">
                                                <div class="span1">
                                                    <img width="32" src="/media/{{ post.image_blue }}" align="left" hspace="10" alt=""/>
                                                </div>
                                                <div class="span3">
                                                    <h4>{{ post.name }}</h4>
                                                    <div class="middle_text">{{ post.text|removetags:"img"|truncatewords:"20"|safe }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="span12">
                            <div class="header_title">
                                <h2>
                                    Мобильный интернет - мобильные сайты
                                </h2>

                            </div>
                        </div>
                        <div class="span8">
                            <img src="{% static 'theme/img/devices.png' %}" alt=""/>
                        </div>
                        <div class="span3 offset1 resp_list">
                            <h4>Полная мобильная версия</h4>
                            <p><i class="icon-ok icon-black"></i> Планшетные ПК Apple</p>
                            <p><i class="icon-ok icon-black"></i> Смартфоны Apple</p>
                            <p><i class="icon-ok icon-black"></i> Планшетные ПК Android</p>
                            <p><i class="icon-ok icon-black"></i> Смартфоны Android</p>
                            <p><i class="icon-ok icon-black"></i> Планшетные ПК Windows</p>
                            <p><i class="icon-ok icon-black"></i> Смартфоны Windows</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <!--middle content-->
        {% block second_content %}
        <div class="middle_content">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        {% block content %}
                            <div class="row apps">
                                <div class="span12">
                                    <h4>Мобильное прилоежение на широкую ногу</h4>
                                </div>
                                <div class="span8">
                                    <div class="row apps_text">
                                        <div class="span8">
                                            <div class="row">
                                                <div class="span1">
                                                    <img width="40" src="{% static 'theme/img/target.png' %}" alt=""/>
                                                </div>
                                                <div class="span7">
                                                    <h5>Определение бизнесс цели</h5>
                                                    <p>Donec rutrum gravida ligula, ac adipiscing enim aliquet non. Sed consequat convallis lorem non feugiat. Curabitur nec orci eu lacus iaculis tempus volutpat non nulla. Mauris vehicula rhoncus risus, quis accumsan metus porta a. Sed rutrum condimentum ligula eu malesuada. Ut non erat mattis velit ullamcorper ultricies vel vitae dolor. Vivamus ornare feugiat auctor. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span8">
                                            <div class="row">
                                                <div class="span1">
                                                    <img width="40" src="{% static 'theme/img/koleso.png' %}" alt=""/>
                                                </div>
                                                <div class="span7">
                                                    <h5>Создание мобильного приложения</h5>
                                                    <p>Donec rutrum gravida ligula, ac adipiscing enim aliquet non. Sed consequat convallis lorem non feugiat. Curabitur nec orci eu lacus iaculis tempus volutpat non nulla. Mauris vehicula rhoncus risus, quis accumsan metus porta a. Sed rutrum condimentum ligula eu malesuada. Ut non erat mattis velit ullamcorper ultricies vel vitae dolor. Vivamus ornare feugiat auctor. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span8">
                                            <div class="row">
                                                <div class="span1">
                                                    <img width="40" src="{% static 'theme/img/smile.png' %}" alt=""/>
                                                </div>
                                                <div class="span7">
                                                    <h5>Тестирование и сопровождение</h5>
                                                    <p>Donec rutrum gravida ligula, ac adipiscing enim aliquet non. Sed consequat convallis lorem non feugiat. Curabitur nec orci eu lacus iaculis tempus volutpat non nulla. Mauris vehicula rhoncus risus, quis accumsan metus porta a. Sed rutrum condimentum ligula eu malesuada. Ut non erat mattis velit ullamcorper ultricies vel vitae dolor. Vivamus ornare feugiat auctor. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span8">
                                            <div class="row">
                                                <div class="span1">
                                                    <img width="40" src="{% static 'theme/img/globe.png' %}" alt=""/>
                                                </div>
                                                <div class="span7">
                                                    <h5>Продвижение мобильного приложения</h5>
                                                    <p>Donec rutrum gravida ligula, ac adipiscing enim aliquet non. Sed consequat convallis lorem non feugiat. Curabitur nec orci eu lacus iaculis tempus volutpat non nulla. Mauris vehicula rhoncus risus, quis accumsan metus porta a. Sed rutrum condimentum ligula eu malesuada. Ut non erat mattis velit ullamcorper ultricies vel vitae dolor. Vivamus ornare feugiat auctor. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4 app_image">
                                    <img width="300" src="{% static 'theme/img/app.png' %}" alt=""/>
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

        <!--footer-->
        {% block footer %}
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <div class="row">
                                <div class="span12">
                                    <h1></h1>
                                </div>
                                <div class="span12">
                                    <div class="row">
                                        <div class="span6">

                                        </div>
                                    </div>
                                </div>
                                <div class="span9">
{#                                    <p>Все права защищены @2013</p>#}
                                </div>
                                <div class="span3 forward">
                                    <a href="http://forward70.ru"> Создание сайтов Forward</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

    </body>
</html>
