{% load staticfiles %}
{% load flatblock_tags %}
{% load thumbnail %}
{% load dajaxice_templatetags %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% block meta %}
            <title>Создание сайтов</title>
            <meta name="description" content="Forward - Создание высококачественных сайтов в Томске, Новосибирске, Москве, продвижение сайтов, поисковая сео оптимизация, качественное продвижение сайта в топ." >
            <meta name ="keywords" content="Создание сайтов, продвижение сайтов">
        {% endblock %}
        <meta name="google-site-verification" content="iVS6NXL7kkO9Lt3XJ7R09EKIaV9x86hALOI11wtPnbk" />
        <link href="{% static 'theme/css/global.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script type="text/javascript" src="{% static 'libraries/jquery-2.0.3.min.js' %}"></script>

        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'libraries/jquery.lazyload.min.js' %}" type="text/javascript"></script>

{#        <script type="text/javascript" src="{% static 'libraries/calendar/jquery-ui.custom.min.js' %}"></script>#}
{#        <link rel="stylesheet" href="{% static 'libraries/fancybox/source/jquery.fancybox.css' %}" type="text/css" media="screen" />#}
{#        <script type="text/javascript" src="{% static 'libraries/fancybox/source/jquery.fancybox.pack.js' %}"></script>#}
        <script type="text/javascript" src="{% static 'libraries/scripts.js' %}"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'theme/effect/css/demo.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'theme/effect/css/component.css' %}" />
		<script src="{% static 'theme/effect/js/modernizr.custom.js' %}"></script>

        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic' rel='stylesheet' type='text/css'><!---->

        {#        blueimp#}
        <link rel="stylesheet" href="{% static 'libraries/blueimp/css/blueimp-gallery.min.css' %}" type="text/css" media="screen" />

{#        dajax        #}
        <script type="text/javascript" src="{% static 'dajax/jquery.dajax.core.js' %}"></script>
        <script type="text/javascript" charset="utf-8">
            function send_form(){
                $('.loading').removeClass('hidden');
                Dajaxice.ajaxapp.send_form(Dajax.process,{'form':$('#my_form').serialize(true)});
            }

            function send_mini_form(){
                $('.loading').removeClass('hidden');
                Dajaxice.ajaxapp.send_mini_form(Dajax.process,{'form':$('#mini_form').serialize(true)});
            }

            function closemodal(){
                $('.close').click();
            }
            function closeMessage(){
                $('#message_show').addClass('hidden');
            }
        </script>
        {% dajaxice_js_import %}

    </head>
    <body>

        {% block top %}
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="span4">
                            <a href="/"> <img class = "css_logo" src="{% static 'theme/img/css/logo.png' %}" alt=""/> </a>
                            <div class="description">В Италию с Валерией Сизовой</div>
                        </div>
                        <div class="span8">
                            <div class = "css-mini-menu">
                                <ul class="css-mini-menu-ul">
                                    <li>+7 (909) 777-77-77</li>
                                    <li class="devider">|</li>
                                    <li><a href="/kontakty/" class = "no_decor"><i class="fa fa-phone"></i> Контакты</a></li>
{#                                    <li class="devider">|</li>#}
{#                                    <li><a href="#" class = "no_decor"><div class = "icon-mini-call"></div>Вопрос консультанту</a></li>#}
                                    <li class="devider">|</li>
                                    <li><a href="#" class = "no_decor"><i class="fa fa-comments-o"></i> Отзывы</a></li>
                                </ul>
                            </div>
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </a>
                                    <div class="nav-collapse">
                                        <ul class="nav">
                                            <li><a href="/">Главная</a></li>
                                            <li><a href="/sozdanie-saitov/">Создание сайтов</a></li>
                                            <li><a href="/prodvijenie/">Продвижение сайтов</a></li>
                                            <li><a href="/portfolio/newtopbet/" class = "css_last">Портфолио</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block first_content %}
            <div class="header home">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <div class="header_title">
                                <h2>
                                    Что если Вы не только отправитесь в путешествие мечты, посмотрите на истинную Италию глазами коренных итальянцев,
                                    но и подарите здоровье своему организму?
                                </h2>
                            </div>
                        </div>
                        <div class="span12 main_description">
                            <div class="row">
                                <div class="span1"></div>
                                <div class="span10">
                                    <h4 class = "">
                                        10 лучших целебных мест планеты<br />
                                        15 ресторанов, где родилась Итальянская кухня<br />
                                        Омоложение кожи за 3 сеанса в термальных источниках Таксаны<br />
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="span1"></div>
                        <div class = "span6">
                            <div class = "css_vidio">
{#                                <iframe width="100%" height="300" src="//www.youtube.com/embed/xWynNxpxsYQ" frameborder="0" allowfullscreen></iframe>#}
                            </div>
                        </div>
                        <div class = "span4 css_form_consultation">
                            <form action="." method="post" id="mini_form">
                                <div class="form_container">
                                    {% csrf_token %}
                                    <h4>Оставьте заявку прямо сейчас и получите подарок</h4>
                                    <input id="status" class="hidden" value="" type="text">
                                    {{ form.sender }}
                                    {{ form.phone }}
{#                                    {{ form.as_p }}#}
                                    <input id="id_submit" value="Отправить" type="button" onclick="send_mini_form();">
                                    <div class="loading hidden">
                                        <img src="{% static 'theme/img/335.gif' %}" alt=""/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block how_it_will_be %}
            <div class="how_it_will_be">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <table>
                                <tr>
                                    <td>путь проекта:</td>
                                    <td>{{ path }}</td>
                                </tr>
                                <tr>
                                    <td>статика:</td>
                                    <td>{{ static }}</td>
                                </tr>
                            </table>
                            <h2>Целебное путешествие по Италии с Валерией Сизовой</h2>
                            <h3>Каким оно будет?</h3>
                        </div>
                        <div class="span12">
                            <div class="row">
                                <div class="span3"></div>
                                <div class="span6">
                                    <p><i class="fa fa-check-circle"></i> Духовное эзотерическое путешествие</p>
                                    <p><i class="fa fa-check-circle"></i> Совмещение отдыха в Италии с оздоровлением организма</p>
                                    <p><i class="fa fa-check-circle"></i> Комплексный отдых: оздоровление, кулинария, шоппинг</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block where_to_go %}
            <div class="where_to_go">
                <div class="container">
                    <div class="row">
                        <div class="span6">
                            <div class="row">
                                <div class="span6">
                                    <p>Вы приезжаете в самое сердце Италии – Тоскану, с ее чистейшими водами Мареммы, целебными термальными источниками, ресторанами, где зародилась традиционная итальянская кухня, самобытный городками и живописнейшими пейзажами.</p>
                                </div>
                                <div class="span2">
                                    <img src="{% static 'theme/img/css/route-img/toskana3.jpg' %}" alt=""/>
                                </div>
                                <div class="span2">
                                    <img src="{% static 'theme/img/css/route-img/toskana1.png' %}" alt=""/>
                                </div>
                                <div class="span2">
                                    <img src="{% static 'theme/img/css/route-img/toskana2.jpg' %}" alt=""/>
                                </div>
                            </div>
                        </div>
                        <div class="span6" style="position:relative;">
                            <img class="img_absolute" src="{% static 'theme/img/css/backgr_blocks/road4.png' %}" alt=""/>
                            <div class="row">
                                <div class="span1"></div>
                                <div class="span4">
                                    <h2>Куда поедете?</h2>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endblock %}

        {% block for_whom %}
            <div class="for_whom">
                <div class="container">
                    <div class="row">
{#                        <h2>Для кого это путешествие?</h2>#}
                        <div class="span12">
                            <h2>Для единомышленников и людей, готовых изменить себя, подарив своему организму здоровье и молодость</h2>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block what_will_do %}
            <div class="what_will_do">
                <div class="container">
                    <div class="row">
                        <div class="span6" style="position:relative;">
                            <img class="img_absolute" src="{% static 'theme/img/css/backgr_blocks/food.png' %}" alt=""/>
                            <div class="row">
                                <div class="span1"></div>
                                <div class="span4">
                                    <h2>Чем займетесь?</h2>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <h3>- Ежедневная активность на морском и сосновом воздухе;</h3>
                            <h3>- Введение в Вашу жизнь полезных привычек с профессионалами;</h3>
                            <h3>- Основы здорового питания, способного обновить Ваш организм;</h3>
                            <h3 style="font-weight: 600;">- Вы научитесь готовить вкусные, а главное – полезные итальянские блюда;</h3>
                            <h3>- Шоппинг-прогулки по лучшим аутлетам страны.</h3>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block what_if %}
            <div class="what_if">
                <div class="container">
                    <div class="row">
                        <h2>Что если Вы не только отправитесь в путешествие мечты, посмотрите на истинную Италию глазами коренных итальянцев, но и подарите здоровье своему организму? </h2>
                        <div class="span3"></div>
                        <div class="span6" style="margin-top: 40px; text-align: justify;">
                            <p>Сможете без стрессовых ситуаций привить себе полезные привычки, научиться вкусно готовить традиционную итальянскую еду. Ведь поддерживать себя в форме, быть здоровым и находиться в полной гармонии с самим собой можно по-настоящему легко.</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block benvenuto %}
            <div id="benvenuto" class="css_benvenuto">
                <div class="container">
                    <div class="row">
                        <div class="span4 benvenuto-img">
                            <img src = "{% static 'theme/img/css/hello.jpg' %}" />
                        </div>
                        <div class="span8">
                            <h2> Benvenuto!</h2>
                            <p class = "benvenuto-text">Меня зовут Валерия Сизова. Я родилась и выросла в Сибири, однако уже 13 лет живу в Италии. Я полюбила этот волшебный край и уже могу сказать: «Тоскана – моя вторая Родина». Я прекрасно знаю этот регион, и от меня у него нет секретов.</p>
                            <p class = "benvenuto-text">В мои 50 лет решила сделать то, к чему давно тянулась душа. Я не первый год веду здоровый образ жизни и на личном опыте выработала свою систему оздоровления и омоложения организма. За это время я открыла по-настоящему благотворные и целебные места Италии и готова щедро раскрыть их для моих (дорогих) гостей.</p>
                            <p class = "benvenuto-text">Мне нравится создавать праздник. Я люблю людей, люблю новые открытия, люблю жизнь. Так сложилось, что в моей трудовой деятельности праздник всегда рядом, а идея красоты всегда меня вдохновляла. Убеждена, что самая ПРАВИЛЬНАЯ красота – это хорошее здоровье.</p>
                            <p class = "benvenuto-text">Я нахожу прелесть в каждом дне и радуюсь, когда рядом со мной близкие по духу люди. Увлекательные истории, непосредственное общение с харизматичными итальянцами, потайные места и проверенные лично мной ресторанчики. Красоты тосканских пейзажей и улочки аутентичных городов, о которых не знают путеводители.</p>
                        </div>
{#                        <div class="span12" style="">#}

{#                        </div>#}
                        <div class="overlap"></div>
                        <div class="bg_round">
                            <h2>Личные достижения</h2>
                            <ul>
                                <li>Мама двоих очаровательных детей и бабушка одной очаровательной внучки (умилительной)</li>
                                <li>Директор по развитию ювелирной марки «Nomination» в Новосибирске</li>
                                <li>Ведущая программы «Вечер с BODY Line» на телеканале …………..</li>
                                <li>Создатель музыкальных сказок-конкурсов для детей «Анфиса»</li>
                                <li>Имела собственный фитнес-клуб «Body line»</li>
                                <li>Владелица успешного бизнеса в Италии</li>
                                <li>Психолог по образованию</li>
                                <li>Фитнес-тренер</li>
                            </ul>
                            <button type="button" class="btn btn-default">Да, я хочу в Италию!</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock benvenuto %}

        {% block personal_achievements %}
            <div id="personal_achievements" class="personal_achievements">
                <div class="container">
                    <div class="row">
                        <div class="span12">
{#                            <h2>Личные достижения</h2>#}
                        </div>
{#                        <div class="bg_round"></div>#}
                        <div class="span12">
                        </div>
                    </div>
                </div>
            </div>
        {% endblock personal_achievements %}

        {% block  footer %}
            <div id="footer" class="footer">
                <div class="container">
                    <div class="row">
                        <div class="span2"></div>
                        <div class = "span8">
                            <div class = "css_footer-title">
                                ценнее денег
                            </div>
                            <div class = "css_footer-text">
                                Следует отметить одну особенность Италии: чтобы получить действительно высокий сервис,
                                необходимы знание итальянского, а также хорошее понимание нравов и обычаев, характерных
                                для этой местности. И порой, даже большие деньги - еще не гарантия отличного качества, и
                                чтобы получить тот самый уровень обслуживания, какой получают сами итальянцы - необходим
                                личный контакт и знакомства. И здесь Вы можете смело довериться мне. Я и мои друзья будем
                                всегда рядом с Вами. Заботливое внимание и дружеское отношение в этом путешествии Вам гарантированны.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock footer %}

<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<div id="message_show" class="hidden">
    <div class="message_inner">
        <h6>Спасибо!</h6>
        <p>В ближайшее время наш менеджер свяжется с Вами</p>
        <button id="id_submit" class="red" onclick="closeMessage();">Закрыть</button>
    </div>
</div>

{#<script>#}
{#    try{for(var lastpass_iter=0; lastpass_iter < document.forms.length; lastpass_iter++){ var lastpass_f = document.forms[lastpass_iter]; if(typeof(lastpass_f.lpsubmitorig2)=="undefined"){ lastpass_f.lpsubmitorig2 = lastpass_f.submit; lastpass_f.submit = function(){ var form=this; var customEvent = document.createEvent("Event"); customEvent.initEvent("lpCustomEvent", true, true); var d = document.getElementById("hiddenlpsubmitdiv"); if (d) {for(var i = 0; i < document.forms.length; i++){ if(document.forms[i]==form){ d.innerText=i; } } d.dispatchEvent(customEvent); }form.lpsubmitorig2(); } } }}catch(e){}#}
{#</script>#}

<script src="{% static 'libraries/blueimp/js/blueimp-gallery.min.js' %}"></script>

<script src="{% static 'theme/effect/js/classie.js' %}"></script>
<script src="{% static 'theme/effect/js/cbpScroller.js' %}"></script>

<script src="{% static 'libraries/last.js' %}"></script>


{#google#}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-49598727-1', 'forward70.ru');
    ga('send', 'pageview');
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter11675299 = new Ya.Metrika({id:11675299,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/11675299" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

    </body>
</html>
