{% extends 'base.html' %}
{% load thumbnail %}


{% block first_content %}
{% endblock %}


{% block bottom_content %}
{% endblock %}


{% block portfolio %}
{% endblock %}


{% block second_content %}
  <div class="sait_create">
    <div class="container">

        <div class="row">
            <div class="span12">

                <div class="row">

                    <div class="span12">
                        <h2>Качественная разработка сайтов</h2>
                    </div>
<div class="span12">
    <div class="row">
                    <div class="span6">
                        <h4>Индивидуальная поддержка</h4>
                        При заказе сайта вам выделяется персональный менеджер, который будет помогать вам и консультировать по любым вопросам в течение всего срока нашего сотрудничества.
                    </div>

                    <div class="span6">
                        <h4>К продвижению готов</h4>
                       Все сайты создаются с учетом требований для дальнейшего продвижения в поисковых системах. Даже самый маленький сайт имеет полный функционал и сразу готов к продвижению.
                    </div>

                    <div class="span6">
                        <h4>Лёгкое управление сайтом</h4>
                        Мы создаем сайты на основе системы, которая позволит вам самостоятельно управлять вашим сайтом, добавлять новые страницы, изменять текст и размещать фотографии.
                    </div>
                    <div class="span6">
                        <h4>Возможности расширения</h4>
                        Система управления сайтом позволяет наращивать необходимый функционал. Вы сможете перейти на более функциональную редакцию в любое время без потери времени и данных.
                    </div>
</div>
    </div>
                    <div class="span12">
                        <hr>
                    </div>

                    <div class="span12">
                        <h2>Тарифные планы на создание сайтов</h2>
                    </div>

  <div class="span12">
    <div class="row">
                    <!-- 1 -->
                    <div class="span3">
                        <div class="headerrow">
                            <h4 class="title">Сайт визитка</h4>

                            <div class="price">
                                <h3 class="cost">от 10000р.</h2>
                                <span class="description"></span>
                            </div>
                            <!--/ .price-->
                        </div>
                        <!-- .header -->

                        <ul class="features">
                            <li>Индивидуальный дизайн</li>
                            <li>Базовая CMS система управления сайтом</li>
                            <li>Регистрация домена</li>
                            <li>Настройка почты</li>
                            <li>Наполнение основным содержанием</li>
                            <li>Консультационная и Техническая поддержка</li>
                        </ul>
                        <!-- .features -->

                        <div class="footerrow">
                            <a class="button big default" href="">Заказать</a>
                        </div>
                        <!-- .footer -->
                    </div>

                    <!-- 2 -->
                    <div class="span3 featured">
                        <div class="headerrow">
                            <h4 class="title">Корпоративный сайт</h4>

                            <div class="price">
                                <h3 class="cost">от 20000р.</h2>
                                <span class="description"></span>
                            </div>
                            <!--/ .price-->
                        </div>
                        <!-- .header -->

                        <ul class="features">
                            <li>Индивидуальный дизайн</li>
                            <li>Базовая CMS система управления сайтом</li>
                            <li>Регистрация домена</li>
                            <li>Настройка почты</li>
                            <li>Наполнение основным содержанием</li>
                            <li>Консультационная и Техническая поддержка</li>
                        </ul>
                        <!-- .features -->

                        <div class="footerrow">
                            <a class="button big default" href="">Заказать</a>
                        </div>
                        <!-- .footer -->
                    </div>

                    <!-- 3 -->
                    <div class="span3">
                        <div class="headerrow">
                            <h4 class="title">Интернет магазин</h4>

                            <div class="price">
                                <h3 class="cost">от 30000р.</h2>
                                <span class="description"></span>
                            </div>
                            <!--/ .price-->
                        </div>
                        <!-- .header -->

                        <ul class="features">
                            <li>Индивидуальный дизайн</li>
                            <li>Базовая CMS система управления сайтом</li>
                            <li>Регистрация домена</li>
                            <li>Настройка почты</li>
                            <li>Наполнение основным содержанием</li>
                            <li>Консультационная и Техническая поддержка</li>
                        </ul>
                        <!-- .features -->

                        <div class="footerrow">
                            <a class="button big default" href="">Заказать</a>
                        </div>
                        <!-- .footer -->
                    </div>

                    <!-- 4 -->
                    <div class="span3">
                        <div class="headerrow">
                            <h4 class="title">Сайт «Бизнес»</h4>

                            <div class="price">
                                <h3 class="cost">от 35000р.</h2>
                                <span class="description"></span>
                            </div>
                            <!--/ .price-->
                        </div>
                        <!-- .header -->

                        <ul class="features">
                            <li>Индивидуальный дизайн</li>
                            <li>Базовая CMS система управления сайтом</li>
                            <li>Регистрация домена</li>
                            <li>Настройка почты</li>
                            <li>Наполнение основным содержанием</li>
                            <li>Консультационная и Техническая поддержка</li>
                        </ul>
                        <!-- .features -->

                        <div class="footerrow">
                            <a class="button big default" href="">Заказать</a>
                        </div>
                        <!-- .footer -->
                    </div>
        </div>
    </div>


                </div>
            </div>
        </div>

        <div class="text_info span12">
            <p>Donec rutrum gravida ligula, ac adipiscing enim aliquet non. Sed consequat convallis lorem non feugiat. Curabitur nec orci eu lacus iaculis tempus volutpat non nulla. Mauris vehicula rhoncus risus, quis accumsan metus porta a. Sed rutrum condimentum ligula eu malesuada. Ut non erat mattis velit ullamcorper ultricies vel vitae dolor</p>
            <p>Donec rutrum gravida ligula, ac adipiscing enim aliquet non. Sed consequat convallis lorem non feugiat. Curabitur nec orci eu lacus iaculis tempus volutpat non nulla. Mauris vehicula rhoncus risus, quis accumsan metus porta a. Sed rutrum condimentum ligula eu malesuada. Ut non erat mattis velit ullamcorper ultricies vel vitae dolor</p>
        </div>

    </div>
  </div>




{% endblock %}




