{% extends 'base.html' %}
{% load thumbnail %}
{% load staticfiles %}

{% block bottom_content %}
{% endblock %}


{% block portfolio %}
{% endblock %}

{% block review_slider %}
{% endblock %}

{% block first_content %}
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="header_title">
                        <h2>Forward - качественная разработка сайтов</h2>
                    </div>
                </div>
                <div class="span12 post_in_blue">
                    <div class="row">
                        <div class="span12">
                            <div class="row">
                                <div class="span6">
                                    <div class="row">
                                        <div class="span1">
                                            <img src="{% static 'theme/img/contactcard32.png' %}" alt=""/>
                                        </div>
                                        <div class="span5">
                                            <h4>Индивидуальная поддержка</h4>
                                            <p>При заказе сайта вам выделяется персональный менеджер, который будет помогать вам и консультировать по любым вопросам в течение всего срока нашего сотрудничества.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="row">
                                        <div class="span1">
                                            <img src="{% static 'theme/img/cup.png' %}" alt=""/>
                                        </div>
                                        <div class="span5">
                                            <h4>К продвижению готов</h4>
                                            <p>Все сайты создаются с учетом требований для дальнейшего продвижения в поисковых системах. Даже самый маленький сайт имеет полный функционал и сразу готов к продвижению.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="row">
                                        <div class="span1">
                                            <img src="{% static 'theme/img/mouse.png' %}" alt=""/>
                                        </div>
                                        <div class="span5">
                                            <h4>Лёгкое управление сайтом</h4>
                                            <p>Мы создаем сайты на основе системы, которая позволит вам самостоятельно управлять вашим сайтом, добавлять новые страницы, изменять текст и размещать фотографии.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="span6">
                                    <div class="row">
                                        <div class="span1">
                                        <img src="{% static 'theme/img/key.png' %}" alt=""/>
                                    </div>
                                    <div class="span5">
                                        <h4>Возможности расширения</h4>
                                        <p>Система управления сайтом позволяет наращивать необходимый функционал. Вы сможете перейти на более функциональную редакцию в любое время без потери времени и данных.</p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span12">
                    <div class="header_title">
                        <h2>
                            Мобильный интернет - мобильные сайты
                        </h2>
                    </div>
                </div>
                <div class="span8">
                    <img src="{% static 'theme/img/devices.png' %}" alt=""/>
                </div>
                <div class="span3 offset1 resp_list">
                    <h4>Полная мобильная версия</h4>
                    <p><i class="icon-ok icon-black"></i> Планшетные ПК Apple</p>
                    <p><i class="icon-ok icon-black"></i> Смартфоны Apple</p>
                    <p><i class="icon-ok icon-black"></i> Планшетные ПК Android</p>
                    <p><i class="icon-ok icon-black"></i> Смартфоны Android</p>
                    <p><i class="icon-ok icon-black"></i> Планшетные ПК Windows</p>
                    <p><i class="icon-ok icon-black"></i> Смартфоны Windows</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block second_content %}
  <div class="sait_create">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span12">
                        <h2>Тарифные планы на создание сайтов</h2>
                    </div>

  <div class="span12">
    <div class="row">
                    <!-- 1 -->
                    <div class="span3">
                        <div class="headerrow">
                            <h4 class="title">Сайт визитка</h4>

                            <div class="price">
                                <h3 class="cost">от 10000р.</h2>
                                <span class="description"></span>
                            </div>
                            <!--/ .price-->
                        </div>
                        <!-- .header -->

                        <ul class="features">
                            <li>Индивидуальный дизайн</li>
                            <li>Базовая CMS система управления сайтом</li>
                            <li>Регистрация домена</li>
                            <li>Настройка почты</li>
                            <li>Наполнение основным содержанием</li>
                            <li>Консультационная и Техническая поддержка</li>
                        </ul>
                        <!-- .features -->

                        <div class="footerrow">
                            <a class="button big default" href="/kontakty/">Заказать</a>
                        </div>
                        <!-- .footer -->
                    </div>

                    <!-- 2 -->
                    <div class="span3 featured">
                        <div class="headerrow">
                            <h4 class="title">Корпоративный сайт</h4>

                            <div class="price">
                                <h3 class="cost">от 20000р.</h2>
                                <span class="description"></span>
                            </div>
                            <!--/ .price-->
                        </div>
                        <!-- .header -->

                        <ul class="features">
                            <li>Индивидуальный дизайн</li>
                            <li>Базовая CMS система управления сайтом</li>
                            <li>Регистрация домена</li>
                            <li>Настройка почты</li>
                            <li>Наполнение основным содержанием</li>
                            <li>Консультационная и Техническая поддержка</li>
                        </ul>
                        <!-- .features -->

                        <div class="footerrow">
                            <a class="button big default" href="/kontakty/">Заказать</a>
                        </div>
                        <!-- .footer -->
                    </div>

                    <!-- 3 -->
                    <div class="span3">
                        <div class="headerrow">
                            <h4 class="title">Интернет магазин</h4>

                            <div class="price">
                                <h3 class="cost">от 30000р.</h2>
                                <span class="description"></span>
                            </div>
                            <!--/ .price-->
                        </div>
                        <!-- .header -->

                        <ul class="features">
                            <li>Индивидуальный дизайн</li>
                            <li>Базовая CMS система управления сайтом</li>
                            <li>Регистрация домена</li>
                            <li>Настройка почты</li>
                            <li>Наполнение основным содержанием</li>
                            <li>Консультационная и Техническая поддержка</li>
                        </ul>
                        <!-- .features -->

                        <div class="footerrow">
                            <a class="button big default" href="/kontakty/">Заказать</a>
                        </div>
                        <!-- .footer -->
                    </div>

                    <!-- 4 -->
                    <div class="span3">
                        <div class="headerrow">
                            <h4 class="title">Сайт «Бизнес»</h4>

                            <div class="price">
                                <h3 class="cost">от 35000р.</h2>
                                <span class="description"></span>
                            </div>
                            <!--/ .price-->
                        </div>
                        <!-- .header -->

                        <ul class="features">
                            <li>Индивидуальный дизайн</li>
                            <li>Базовая CMS система управления сайтом</li>
                            <li>Регистрация домена</li>
                            <li>Настройка почты</li>
                            <li>Наполнение основным содержанием</li>
                            <li>Консультационная и Техническая поддержка</li>
                        </ul>
                        <!-- .features -->

                        <div class="footerrow">
                            <a class="button big default" href="/kontakty/">Заказать</a>
                        </div>
                        <!-- .footer -->
                    </div>
        </div>
    </div>


                </div>
            </div>
        </div>
    </div>
  </div>




{% endblock %}




