{% load thumbnail %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
{#                            <ol class="carousel-indicators">#}
{#                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>#}
{#                                <li data-target="#myCarousel" data-slide-to="1"></li>#}
{#                                <li data-target="#myCarousel" data-slide-to="2"></li>#}
{#                            </ol>                        #}
    <div class="carousel-inner">
        {% for photo in portfolio.get_pictures %}
            <div class="item {% if photo == portfolio.get_pictures|first %}active{% endif %}">
                <img src="/media/{{ photo.img }}">
{#                <div class="container">#}
{#                    <div class="carousel-caption">#}
{#                        <h4><a href="{{ photo.url }}">{{ photo.title }}</a></h4>#}
{#                        <p>текст какой то</p>#}
{#                    </div>#}
{#                </div>#}
            </div>
        {% endfor %}
    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
